@import url(../CSS/main.css);
@import url(../CSS/menu.css);

footer{
  margin-top: 50px;
  max-width: 100%;
  max-height: 700px;
  
}
.footer__content{
  max-width: 100%;
  padding: 20px 20px 20px 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background: var(--FooterColor);

}
footer .footer__content .footer__logo{
  max-width: 100%;
  display: block;
}
footer .footer__content .footer__logo img{
  max-width: 200px;
  max-height: 100px;
}

.footer__logo h1{
  margin-top:10px;
  max-width: inherit;
  color:red;
  font-size: 16px;
  font-weight: normal;
  line-height: 2rem;
  font-family: var(--FontSecondary),sans-serif;
}
.socials{
  display: flex;
  width: 200px;
  justify-content: center;
}

.footer__socials .socials a{
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  width:30px;
}
.footer__socials .socials a img{
  width: 20px;
}

.footer__info{
 
  width:100%;
  padding-top:56px;
  position: relative;
}
.footer__info h3,
.footer__contact h3,
.footer__socials h3{
  display: block;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
}
.footer__info h3{
  color:var(--TextColor);
}
.footer__info h3 span{
  font-weight: 1000;
}
.footer__info a{
  display: block;
  position: absolute;
  right:0;
  top:5px;
  font-size: 20px;
  scroll-behavior: smooth;
}

@media  (min-width:600px){
  .footer__content{
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__logo{
    max-width: 500px;
  }
  .footer__logo img{
    max-width: 200px;
    max-height: 100px;
  }

  .footer__socials .socials{
    width: 100%;
    justify-content: space-between;
    position: relative;
  }
  .footer__contact h3{
    text-align: left;
  }
}