@import url(./main.css);
@import url(./menu.css);
@import url(./footer.css);

/* Google font cho paragraph */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
/*  */

.info{
  max-width: 100%;
  margin: 100px 20px 10px 30px;
  
}
.info__logo{
  width: 100%;
  display: flex;
  justify-content: center;
}
.info .info__logo img{
  max-width: 256px;
}

.info__content{
  margin-top:20px;
}
.info__content .title{
  font-family: var(--FontPrimary),sans-serif !important;
  color:red
}
.info__content p {
  font-family: var(--FontSecondary),sans-serif !important;
  color:var(--TextColor);
  line-height: 22px;
  word-spacing: 2px;
  font-size: 16px;
  font-family:sans-serif;
}
.bg{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/home/menu/bg.png") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -50px;
}
.map__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0px auto;
}
.map__content h1{
  font-size: 40px;
  margin-top: 10px;
  text-align: center;
  font-family: var(--FontPrimary),sans-serif;
  color:red;
  margin-bottom: 10px;
}
.map__content p{
  font-family: 'Inconsolata',monospace,sans-serif;
  align-self: flex-start;
  line-height: 24px;
  font-size: 16px;
  text-justify: distribute;
  text-indent: 20px;
  margin-bottom: 10px;
}
.note{
  width: inherit;
  border-left:1px solid grey;
  padding-left: 10px;
  margin-top: 20px;
}
.note h3{
  text-transform: uppercase;
}
.note p{
  text-indent: 0;
}
@media (min-width:600px) {
  .split{
    display: flex;
    justify-content: space-between;
  }
  .split .info__content{
    width: calc(100%/3);
  }
}