:root{
  --BackgroundColor: rgb(225,230,226);
  --FontPrimary: 'SlimTony';
  --FontSecondary: 'Inconsolata';
  --TextColor: black;
  --FooterColor:linear-gradient(90deg,#7ea1ca,#ebad8a);
}
@font-face {
  font-family: SVN-Elle;
  src: url('../fonts/SVN-Elle\ NovaC\ Extra\ Light.ttf');
  font-weight: 800;
}
@font-face {
  font-family: SlimTony;
  src: url('../fonts/UVF\ SlimTony.ttf');
}
body{
  width: 100%;
  background-color: var(--BackgroundColor);
}
@font-face {
  font-family: Inconsolata;
  src: url('../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf');
}

p,h1,h2,h3,h4,h5,h6,a,textarea,li,ul,div{
  font-family: var(--FontSecondary),sans-serif;
}


*{
  font-family: var(--FontSecondary),sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.container{
  max-width: 100%;
}