:root{
  --BackgroundColor: rgb(225,230,226);
  --FontPrimary: 'SVN-Elle';
  --FontSecondary: 'SlimTony';
  --TextColor: black;
  --FooterColor:linear-gradient(90deg,#7ea1ca,#ebad8a);
}
@font-face {
  font-family: SVN-Elle;
  src: url('../fonts/SVN-Elle\ NovaC\ Extra\ Light.ttf');
  font-weight: 800;
}
@font-face {
  font-family: SlimTony;
  src: url('../fonts/UVF\ SlimTony.ttf');
}
body{
  width: 100%;
  background-color: var(--BackgroundColor);
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.container{
  max-width: 100%;
}