@import url(../CSS/footer.css);
@import url(../CSS/menu.css);
@import url(../CSS/main.css);


.panel{

  display: flex;
  margin:0 auto;
  margin-left:10%;
  margin-right:0;
  margin-top: 100px;
  justify-content: space-around;
}

#posts{
  width:80%; 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#heading{
  width: 100%;
  align-items: flex-start;
}
#headings .title{
  margin:0px auto;
  margin-bottom: 20px;
}
#heading .title h3, .related-post .title h3{
  font-family: var(--FontPrimary),sans-serif;
}
.flex{
  display: flex;
}
#heading .link{
  width: 150px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: orange;
  text-align: center;
  display: flex;
  align-items: center;
}
#heading .link:hover{
  background-color:white;
  color:orange;
  border:1px solid orange;
}
#heading .link a{
  width: 100%;
  height:30%;
  text-decoration: none;
  margin:0px auto;
  font-size: 16px;
  line-height: 16px;
}
.title{
  text-align: center;
}
.title h3{
  font-size: 40px;
  margin-bottom: 20px;
  font-family: var(--FontSecondary);
  color: rgb(131, 62, 62);
}
.contact h4{
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
  color:rgb(131, 62, 62);
  font-family: 'Inconsolata',monospace,sans-serif;
}

#heading .author{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  font-family: 'Inconsolata',monospace,sans-serif;

}


.author h3{
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  align-self: center;
}
.author img{
  width: 25px;
  height: 25px;
  border:1px solid transparent;
  border-radius: 50%;
  object-fit: cover;
}

.break{
  width: 70%;
  margin:0px auto;
}
.break img{
  width:100%;
}
.main-content{
  width:100%;
  margin-top: 20px;
  position: relative;
}
.main-content p{
  margin-top:5px;
  margin-bottom: 10px;
  text-indent: 30px;
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
  font-family: 'Inconsolata',monospace,sans-serif;
}
.main-content p:last-child{
  position: absolute;
  right:0;
  font-style: italic;
}
.main-content p span{
  font-size: 40px;
}
.content{
  width:100%;
  flex:2;
}
.picture{
  padding-top:20px;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.picture img{
  width: 80%;
  height: 100%;
  object-fit: cover;
  image-rendering: optimizeQuality;
}

/* slider dọc */
.panel .related-post{
  width: 30%;
  margin-left: 40px;
  padding-top: 300px;
  display: flex;
  flex-direction: column;
}
.panel .related-post .image-slider-2{
  width: 100%;

}
.panel .related-post .title h3{
  font-size: 26px;
}
.panel .related-post .slick-prev{
  top:0;
  left: 45%;
}
.panel .related-post .slick-next{
  left: 45%;
  top:100%;
}
.panel .related-post .image-item .image,.panel .related-post .image-item .image-title{
  margin: 0px auto;
  width: 80%;
  margin-bottom: 10px;
}

@media (max-width:600px) {
  .panel{
    flex-direction: column;
  }
  
}


.related-content{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.related-post .title h3{
  text-align: start;
  margin-left: 10%;
  margin-top: 30px;
  text-decoration: underline;
}
/* .related-content .el{
  width: 300px;
  transition: transform 0.5ms ease-in;
}
.related-content .el:hover{
  transform: translateX(-10px);
  transform: translateY(-5px);
}
.related-content .el  h3{
  font-size: 20px;
  line-height: 20px;
  width: 80%;
}
.related-content a img{
  max-width: 256px;
} */

/* button section */
.button-section{
  display: flex;
  margin-left: 10%;
}
.button{
  margin-right: 20px;
  width:100px;
  height: 40px;
  background-color: orange;
  border-radius: 5px;
}
.button a{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:center;
}
.button a span{
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
/* end of button section */

/* comment section */
.comment-block,.comment-section{
  display: flex;
  width: 80%;
  margin-left:10%;
  margin-top:10px;
  margin-bottom: 10px;
  
}
.comments ,form.comment-section{
  flex-direction: column;
}

.comment-block{
  width: 60%;
  height: 100px;
  border:1px solid #e5e5e5;
  padding:10px 0 10px 0;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.comment-block{
  margin-left: 0;
}
.comment-input{
  width: 60%;
  border:1px solid black;
  padding:10px 0 10px 0;

  margin-right: 10px;
  margin-bottom: 20px;
  border-radius:4px;
  
}
textarea.cmt1{
  background: #fff;
  border: none;
  width: 90%;
  margin:10px 0 10px 10px;
  height: 30px;
  overflow-y: hidden;
  resize: none;
  padding:5px 37px 0 15px;
}

input#sent{
  background-color: green;
  color:white;
}
input#discard{
  background-color: red;
  color:white
}
input#sent:hover,input#discard:hover{
  opacity: 0.5;
}
.comment-block .img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.comment-block .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comment-content{
  width: 100%;
  display: flex;
}
.comment-content .left{
  flex:12;
}
.comment-content .right{
  flex:1;
}
.comment-content h4{
  margin-top: 10px;
}
.comment-content .three-dots{
  align-self: flex-end;
}

/* nút thêm ảnh trang chỉnh sửa bài dăng */
.file_custom::-webkit-file-upload-button{
  visibility: hidden;
}

.file_custom::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}


.file_custom:hover::before {
  border-color: black;
}
.file_custom:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
#image-post input[type="file"]{
  max-width: 80% !important;
}
/* hết phần nút thêm ảnh trang chỉnh sửa bài dăng */
/* rating */
.star-icon{
  width: 50%;
  margin-left: 10%;
  text-align: left !important;
}
.rating-css{
  margin-top: 10px;
}
.rating-css div {
  color: #ffe400;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}
.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 30px;
  text-shadow: 1px 1px 0 #8f8420;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
  color: #b4afaf;
}
.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}

.checked {
  color: #ffd900;
}

/* End of Star Rating */

/* three dots */
.three__dots{
  display: block;
  width: 10px;
  height: 20px;
  border-radius: 3px;
  cursor:pointer;
  margin-left:5px;
  position: relative;

}

.subMenu{
  display: none;
}
/* .three__dots:hover .subMenu, */
.three__dots .subMenu
{
  width: 180px;
  height: 150px;
  position: absolute;
  top: 30px;
  display: none;
  transition: 0.25s ease-in-out;
}

.three__dots.active .subMenu{
  display: block;
}
.three__dots .subMenu:before{
  content: '';
  position: absolute;
  width:0;
  height:0;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-bottom: 5px solid black;
  left:5px;
  top: -5px;
  z-index: 999999;
  opacity: 0.5;
  
}
.subMenu li{
  display: block;
  width: 100%;
  border-bottom: 1px solid grey;
  padding:5px 
}
.subMenu li a{
  font-size: 14px;
  line-height: 14px;
}
/* end of three dots */
/* pagination */

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .page-item{
  color:black;
  padding: 8px 16px;
  transition: all 0.3s linear;
  border:1px solid grey;  
  margin: 0 4px;
}

.pagination .active, .pagination .page-item:hover {
  background-color: rgb(246,183,78);
  color: white;
  border: 1px solid rgb(246,183,78);
}

.box h3{
  width: 60%;
  margin: 0px auto;

}

/* end of pagination */

@media (min-width:800px){
  .carousel {width: 25%;height: 55%;overflow: hidden;position: absolute;top: 50%;right: 5%;font-family: tahoma;border: 1px solid gray;cursor: pointer;visibility: visible;}
  textarea#content{
    min-height: 200px;
  }

}

@media (max-width:800px){
  .carousel{display: none;}
  #posts{
    width: 80%;
    margin:0px auto;
    margin-top:30px;
    margin-left:5%;
  }
  .related-post{
    margin-left: 5%;
  }
  .related-content{
    justify-content: flex-start;
  }
  textarea#content{
    max-width: 600px;
  }
}
@media (max-width:600px){
  .carousel{display: none;}
  #posts{
    width: 80%;
    margin:0px auto;
    margin-top:30px;
    margin-left:5%;
  }
  .related-post{
    margin-left: 5%;
  }
  .related-content{
    justify-content: flex-start;
  }
  textarea#content{
    max-width: 400px;
  }
}

