@import url(../CSS/footer.css);
@import url(../CSS/menu.css);
@import url(../CSS/main.css);


form.cmt { margin: 17px; }
form.cmt { margin: 10px 0px; display: flex; }
input[type="submit"] { padding: 10px; color: white; background: rgb(31, 120, 197); cursor: pointer; margin-left: 10px; }
textarea#comments { width: 79%; padding: 10px 0px; outline: 0px; }
html, body { width: 100%; height: 100%; }

::-webkit-scrollbar { width: 12px; height: 12px; }
::-webkit-scrollbar-track { width: 2px; }
::-webkit-scrollbar-thumb { background: linear-gradient(150deg, rgb(251, 191, 77) 35%, rgb(241, 78, 141) 100%); border:4px solid transparent; border-radius: 8px;}
::-webkit-scrollbar-thumb:hover { background: rgb(241, 75, 143); }

.search { width: 100%; position: relative; display: flex; }
.danhmuc { width: 21%; border: 1px solid gray; padding: 12px; height: 50px; outline: none; color: rgb(0, 0, 0); cursor: pointer; text-align: center; opacity: 1; }
.danhmuc::placeholder { text-align: center; }
.searchTerm { width: 85%; border: 1px solid gray; padding: 12px; height: 50px; outline: none; color: rgb(242, 94, 132); }
.searchTerm:focus { color: rgb(242, 94, 132); }
.searchButton { width: 66px; height: 50px; border: 1px solid rgb(255, 0, 0); background: linear-gradient(150deg, rgb(251, 191, 77) 35%, rgb(241, 78, 141) 100%); text-align: center; color: rgb(255, 255, 255); border-radius: 0px 5px 5px 0px; cursor: pointer; font-size: 20px; }
.wrap { width: 56%; position: absolute; top: 10%; left: 50%; transform: translate(-50%, 50%); }
.noidung { width: 50%;margin:0px auto;  z-index: 1; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top:100px; }
.noidung .b1 { max-width: 100%; margin-left: 20px; padding-bottom: 3%; border-bottom: 1px solid rgb(189, 189, 189); margin-top: 15px; }
.noidung .b1 h4 { font-size: 32px; padding: 10px 0px; }
.noidung .b1 span { color: rgb(54, 54, 54); padding-bottom: 10px; }
.noidung .b1 img { margin-top: 13px; }
.flex{
  display: flex;
  align-items: flex-start;
}
.noidung .b1 .button{

  height: 40px;
  border:1px solid transparent;
  border-radius: 8px;

  margin-right: 10px;
  transition: color 100ms;
  touch-action: manipulation;
}
.noidung .b1 .button:hover {
  background-color: #F082AC;
}
.noidung .b1 a{
  margin:0px auto;
  display: block;
  width: 100%;
  height: 50px;
  padding:0px auto;
 
  text-align: center;
}
.noidung .b1 a span{
  margin:0px auto;
  font-size: 14px;
  line-height: 14px;
 
}


/* CSS */
.button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.carousel {width: 250px;height: 400px;overflow: hidden;position: absolute;top: 22%;right: 10px;font-family: tahoma;border: 1px solid gray;cursor: pointer;}
.slide-container {width: 100%;height: 100%;position: relative;}
.slide-container .slide img {width: 100%;}
.slide-container .slide {width: 100%;height: 30%;padding: 5px 0px;transition: all 0.5s ease-in-out;overflow: hidden;cursor: pointer;position: relative;}
.slide-container .slide span{background: #0000007e;width: 100%;height: 100%;position: absolute;left: 0;transition: 1s;}
.slide-container .slide .text{width: 40%;top: 50%;left: 50%;color: white;position: absolute;transition: 0.5s ease-in-out;transform: translate(-50%, -50%);}
.slide-container .slide:hover span {opacity: 0;}
.slide-container .slide:hover .text{margin-top: -100%; opacity: 0; transform-origin: center!important;}
.btn-prev, .btn-next{font-size: 2rem;top: -4%;padding: 5px;position: absolute;left: 43%;color: white;cursor: pointer;transition: all 0.5s ease-in-out;}
.btn-next{bottom: -4%;top: auto;}
.btn-prev:hover,.btn-next:hover{background-color:rgba(0, 0, 0, 0.753);}
.slide:first-child {margin-top: 0px;}




@media only screen and (min-width: 1920px) {
  * { margin: 0px; padding: 0px; }
  
  h4 { font-size: 4rem; }
  
}
@media only screen and (max-width: 1920px) and (min-width: 1824px) {
  * { margin: 0px; padding: 0px; }
}
@media only screen and (max-width: 1080px) {
  * { margin: 0px; padding: 0px; }
  .noidung { width: 68%; left: 50%; transform: translateX(-50%); }
  .bg img { width: auto; height: 100%; }
  .wrap { top: 7%; }
  .carousel{display: none;}
}
@media only screen and (max-width: 700px) {
  * { margin: 0px; padding: 0px; }

.noidung {
    width: 100%;
    height: 75%;
    z-index: 1;
    margin-top: 4%;
}

.b1 img {
    width: 107%;
}
  .bg img { height: 100%; width: auto; }
  input#browser { width: 17%; }
  input.searchTerm { width: 59%; }
  .wrap {top: 11%;width: 93%;}
  
}
@media only screen and (max-width: 1366px) and (min-width: 1080px) {
  * { margin: 0px; padding: 0px; }
  .noidung {width: 63%;margin-top: 1%;left: 4%;}
  .wrap { top: 10%; width: 92%; }
  
}


.bg{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/home/menu/bg.png") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -50px;
  z-index: -1000;
}

