@import url(../CSS/main.css);
@import url(../CSS/menu.css);
@import url(../CSS/footer.css);
* { margin: 0px; padding: 0px; }
html, body { width: 100%; height: 100%; }
@font-face { font-family: fontvn; src: url("/font/UVF_SlimTony.ttf"); }
::-webkit-scrollbar { width: 12px; height: 12px; }
::-webkit-scrollbar-track { width: 2px; }
::-webkit-scrollbar-thumb { background: linear-gradient(150deg, rgb(251, 191, 77) 35%, rgb(241, 78, 141) 100%); }
::-webkit-scrollbar-thumb:hover { background: rgb(241, 75, 143); }

.body { position: relative; z-index: 2; width: 100%; height: 100%; }
.box {width: 100%;margin: auto;height: 100%;font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif}
.wrapper {width: 80%;position: absolute;top: 10%;left: 50%;transform: translate(-50%, 50%); border: 1px solid black; border-radius: 10px;}
.catelogy { width: 100%; position: relative; display: flex; justify-content: space-around;  padding: 12px; height: 50px; outline: none; cursor: pointer; text-align: center; opacity: 1;}
.box ul li {list-style: none;} 
.box ul li a {text-decoration: none; color: black;}
.wrapper .catelogy li { border-right: 1px solid gray; height: 100%; padding-right: 10px;}
.wrapper .catelogy li:last-child { border: none;}
.articles {padding-top:20px;width: 80%;position: absolute;top: 22.3%;border: 1px solid black;height: 80%;overflow: auto;display: flex;left: 10%;flex-wrap: wrap;justify-content: center;align-items: center;border-radius: 10px;}
.articles a {text-decoration: none; color: black;}
.articles .art img {width: 256px;height: 70%; transition: 1s ease-in-out;}
.art {margin: 0px 15px;margin-bottom: 20px;height: 220px;cursor: pointer;border: 1px solid black;border-radius: 9px;overflow: hidden;}
.art .content {width: 250px;font-size: 11px; margin-top: 5px;}
.catelogy li:hover a{color:rgb(241, 75, 143)}
.articles .art:hover img {transform: scale(1.1);}
.articles .art:hover .content {font-weight: 500;}
.art .content div + div,.art .content div + div{
    visibility: hidden;
}
/* //search */
.body1 {position: relative;z-index: 2;width: 100%;height: 100%; }
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
.danhmuc{
    max-height: 40px;
    max-width: 21%;
    border: none;
    padding: 12px;
    height: 100%;
    outline: none;
    color: black;
    cursor: pointer;
    text-align: center;
    opacity: 100%;
    border-right: 1px solid gray;
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(215, 201, 201);
}
#type.danhmuc{
  border-right:transparent;
}
#browsers.danhmuc{
  border-left:transparent;
  border-radius: 0px;;
}

  .danhmuc::placeholder{text-align: center;color:black}
  .searchTerm {
    width: 85%;
    border: none;
    padding: 12px;
    height: 100%;
    outline: none;
    color: #f25e84;
    background-color: rgb(215, 201, 201);
  }
  
  .searchTerm:focus{
    color: #f25e84;
  }
  
  .searchButton {
    width: 64px;
    height: 40px;
    border: 1px solid #ffffff;
    background: rgb(251,191,77);
    background: linear-gradient(150deg, rgba(251,191,77,1) 35%, rgba(241,78,141,1) 100%);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  

  .wrap{
    width: 56%;
    position: absolute;
    
    top: 350px;
    left: 50%;
    transform: translate(-50%, 50%);
  }