@import url(../CSS/main.css);
@import url(../CSS/menu.css);
@import url(../CSS/footer.css);

html, body { width: 100%; height: 100%; }

::-webkit-scrollbar { width: 12px; height: 12px; }
::-webkit-scrollbar-track { width: 2px; }
::-webkit-scrollbar-thumb { background: linear-gradient(150deg, rgb(251, 191, 77) 35%, rgb(241, 78, 141) 100%); }
::-webkit-scrollbar-thumb:hover { background: rgb(241, 75, 143); }

.body{
  width:100%;
  margin-top: 50px;
}
.box{
  width: 100%;
  margin:0px auto;
  margin-top: 20px;
}
/* .box {width: 100%;margin: auto;;height:80%;font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif} */
.wrapper {width: 80%;position: absolute;top: 10%;left: 50%;transform: translate(-50%, 50%); border: 1px solid black; border-radius: 10px;}
.catelogy { width: 100%; position: relative; display: flex; justify-content: space-around;  padding: 12px; height: 50px; outline: none; cursor: pointer; text-align: center; opacity: 1;}
.box ul li {list-style: none;} 
.box ul li a {text-decoration: none; color: black;}
.wrapper .catelogy li { border-right: 1px solid gray; height: 100%; padding-right: 10px;}
.wrapper .catelogy li:last-child { border: none;}
.articles{
  width: 80%;
  margin:0px auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
/* .articles {padding-top:20px;width: 80%;position: absolute;top: 30%;border: 1px solid black;height: 80%;overflow: auto;display: flex;left: 10%;flex-wrap: wrap;justify-content: center;align-items: center;border-radius: 10px;} */
.articles a {text-decoration: none; color: black;}
.articles .art img {width: 256px;height: 70%; transition: 1s ease-in-out;}
.art {
  margin: 0px 15px;
  margin-bottom: 20px;
  height: 220px;
  cursor: pointer;
  border: 1px solid  grey;
  /* border-radius: 9px; */
  overflow: hidden;
}
.art .content {width: 250px;font-size: 11px; margin-top: 5px;}
.catelogy li:hover a{color:rgb(241, 75, 143)}
.articles .art:hover img {transform: scale(1.1);}
.articles .art:hover .content {font-weight: 500;}
.art .content div + div,.art .content div + div{
    visibility: hidden;
}
/* //search */
.body1 {
    margin-top:50px;
    width: 100%;

    /* height:100px; */

}
.body1 form{
    width: 100%;
    height: 100%;
}
.wrap{
    width: 100%;
    height: 100%;
  }
  .wrap .search{
      width:60%;
      margin:0px auto;
      margin-top: 100px;
  }
  .wrap .searchButton{
    border:none;

  }
.search {
    width: 100%;
    position: relative;
    display: flex;
    border:1px solid grey;
    border-radius: 5px;
  }
.danhmuc{
    max-height: 40px;
    max-width: 21%;
    border: none;
    padding: 12px;
    height: 100%;
    outline: none;
    color: black;
    cursor: pointer;
    text-align: center;
    opacity: 100%;
    border-right:1px solid grey;
    /* border-right: 1px solid gray; */
    border-radius: 5px 0px 0px 5px;
    /* background-color: rgb(215, 201, 201); */
    font-family: var(--FontSecondary),sans-serif;
    border-right: none;
}
#type.danhmuc{
  border-right:transparent;
  background-color: rgb(225,230,226);
}
#browsers.danhmuc{
  border-left:transparent;
  border-radius: 0px;
  background-color: rgb(225,230,226);
}

  .danhmuc::placeholder{text-align: center;color:black}
  .searchTerm {
    width: 85%;
    border: none;
    padding: 12px;
    height: 100%;
    outline: none;
    color: #f25e84;
    background-color: rgb(225,230,226);
  }
  
  .searchTerm:focus{
    color: #f25e84;
  }
  
  .searchButton {
    width: 64px;
    height: 40px;
    border: 1px solid #ffffff;
    background: rgb(251,191,77);
    background: linear-gradient(150deg, rgba(251,191,77,1) 35%, rgba(241,78,141,1) 100%);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  
footer{
  margin-top:50px;
}
  

/* pagination */

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .page-item{
  color:black;
  padding: 8px 16px;
  transition: all 0.3s linear;
  border:1px solid grey;  
  margin: 0 4px;
}

.pagination .active, .pagination .page-item:hover {
  background-color: rgb(246,183,78);
  color: white;
  border: 1px solid rgb(246,183,78);
}

.box h3{
  width: 60%;
  margin: 0px auto;

}

/* end of pagination */

/* rating */
.rating-css div {
  color: #ffe400;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}
.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 60px;
  text-shadow: 1px 1px 0 #8f8420;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
  color: #b4afaf;
}
.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}

.checked {
  color: #ffd900;
}

/* End of Star Rating */